{
  "plugins": [
    ["prismjs", {
      "languages": ["javascript", "bash", "json", "pug", "yaml", "textile"],
      "plugins": ["line-numbers", "line-highlight"],
      "theme": "tomorrow",
      "css": true
    }]
  ]
}
